.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore Samui Browser
loopy-browser

# Ignore past failed loupe output
processed-data/VistoSeg/to_be_deleted_loupe/

# Ignore NMF plots
plots/NMF/
plots/archived/
plots/spatial_cluster/archived
plots/01_build_spe/archived

# genotype and eqtl files
processed-data/genotypes/
processed-data/eQTL/

# Extremely large data files from PEC study
code/analysis/pseudobulk_dx/spatialDLPFC_BayesSpace_k09_registration.Rdata
code/analysis/pseudobulk_dx/spatialDLPFC_sn_hc_registration.Rdata
code/analysis/pseudobulk_dx/spatialDLPFC_BayesSpace_K09_pb_data.rds
code/analysis/pseudobulk_dx/spatialDLPFC_sn_hc_pb_data.rds
processed-data/BrainSeqV2/dxStats_dlpfc_filtered_qSVA_geneLevel_noHGoldQSV_matchDLPFC.rda
code/analysis/12_cross-study_enrichment/registration_stats_LIBD.rds
